body {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    background-image: url("../img/main-bg.png");
    background-repeat: repeat-x;
    margin: 0px;
    color: #333;
}

a img{
    border: 0px;
}

a, a.visited{
    color: #333;
}

a:hover{
    color: #000;
}

#main {
    padding: 0px 7px;
    margin: auto;
    left: 50%;
    background-image: url("../img/cont-bg.png");
    background-repeat: repeat-y;
    width: 880px;
}

#header{
    height: 105px;
}

#header div{
    float: left;
}

#content {
    padding: 15px;
    width: 830px;
}

#login {
    height: 100px;
}

#login form{
    float: left;
    width: 257px;
    background-color: #f4f4f4;
    margin-bottom: 5px;
}

fieldset{
    border: 0px;
    padding: 20px;
}

fieldset div{
    padding: 2px 0px;
}

.separator{
    border-bottom: 1px dashed #666;
    clear: both;
    height: 1px;
    margin: 20px 0px;
}

fieldset label{
    float: left;
    display: block;
    width: 80px;
}

fieldset .field input{
    border: 1px solid #666;
    width: 150px;
}

ul li{
    list-style: square;
}

.buttons{
    text-align: right;
}

.centered{
    text-align: center;
}

#footer {
    padding: 5px;
    background-color: #407429;
    width: 856px;
}
